.formExL1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputExL1 {
    min-width: 300px;
    width: 50%;
    font-size: 30px;
    margin: 5px auto;
}

.buttonExL1 {
    min-width: 300px;
    width: 50%;
    font-size: 30px;
    margin: 5px auto;
}

.mapedSpecExL1 {
    border: 1px solid black;
}

.deleteButtonExLora1 {
    font-size: 20px;
    margin: 5px auto;
}