/* .zajebDiv{
    min-height: 540px;
} */

.formZajeb{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputZajeb {
    min-width: 300px;
    width: 50%;
    font-size: 30px;
    margin: 20px 0 5px 0;
}

.buttonZajeb{
    min-width: 300px;
    width: 50%;
    font-size: 30px;
    margin: 5px auto;
}

.mapedSpecZajeb {
    border: 1px solid black;
}

.deleteButtonZajeb {
    font-size: 20px;
    margin: 5px auto;
}