.App {
  text-align: center;
  background-color: burlywood;
  
}

.App-link {
  color: #61dafb;
}

.allMoney {
  color: rgb(45, 214, 59);
  background-color: darkmagenta;
}

.noMoney {
  color: red;
  background-color: cyan;
}

h1 {
  margin: 0;
}
